body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
    gap: 12px;
}

button {
    border-radius: 4px;
    color: #FFFF;
}

.header {
    justify-content: space-between;
    display: flex;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark-blue-container {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    gap: 16px;
}

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: auto;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.placeholder-image {
    width:auto;
    height:auto;
    background-color:gray;
    color:white;
    display: flex;
    flex-basis: auto;
}

.gray-container {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color:#1F2937;
}

.white-border {
    border-color: white;
}

.footer {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    padding: 16px;
}

.hero-second, a{
    font-size: 18px;
    color: #E5E7Eb;
}

.cta, button{
    background-color: #3882F6;
}

.header, .footer, .dark-blue-container {
    background-color: #1F2937;
}

.dark-blue-container, .white-container, .gray-container, .blue-container {
    flex: 1;
}

.header, .footer, .dark-blue-container, .white-container, .gray-container, .blue-container {
    padding-left: 10%;
    padding-right: 10%;
}