body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
    gap: 12px;
}

button {
    color: #FFFF;
}

.header {
    justify-content: space-between;
    display: flex;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dark-blue-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 4px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-button {
    display: flex;
    border-color: none;
    padding: 8px 24px;
    justify-content: center;
    border-radius: 8px;
}

.hero-image {
    flex-grow: 2;
    flex-shrink: 0;
    height:200px;
    background-color:gray;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 100px;
}

.white-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.img-groups {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.centering {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}

.blue-img {
    padding: 100px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
}

.gray-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color:#1F2937;
    font-weight: lighter;
}

.quoted {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.blue-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 32px;
    border-radius: 8px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.cta-bold-text {
    font-size: large;
    font-weight: bold;
}

.blue-container-button {
    border-color: white;
    border-radius: 8px;
    padding: 8px 24px;
}

.footer {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.header, .footer {
    padding-top: 16px;
}

.hero-second, a{
    font-size: 18px;
    color: #E5E7Eb;
}

.cta, button{
    background-color: #3882F6;
}

.header, .footer, .dark-blue-container {
    background-color: #1F2937;
}

.dark-blue-container, .white-container, .gray-container, .blue-container {
    flex: 1;
    padding-top: 3%;
    padding-bottom: 3%;
}

.header, .footer, .dark-blue-container, .white-container, .gray-container, .blue-container {
    padding-left: 10%;
    padding-right: 10%;
}